{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
        <h1>Rango says...</h1>
        <div>
            here is the about page. <br />
            <strong>You've visited this site on {{ visits }} occasion(s)</strong><br/>
            <strong>{{ boldmessage }}</strong><br/>
        </div>
        <div>
            <img src="{{ MEDIA_URL}}cat.jpg"/>
        </div>
<button class="btn btn-primary" onClick="alert('You clicked the button using JavaScript.');"> Click Me - I run JavaScript
</button>
<br/>
<button class="btn btn-primary" id="about-btn"> Click Me - I'm JavaScript on Speed</button>
<p>This is a example</p> <p>This is another example</p>
<p>This text is for a JQuery Example</p>
<div id="msg">Hello - I'm here for a JQuery Example too</div>
{% endblock %}